.faq {
    padding: 50px;
    background-color: #fff;
    color: white;
    display: flex;
   
  align-items: center; 
  flex-direction: column;
  }
  .faq h1{
    font-size: 20px;
    color: #333;
    text-align: left; 
    width: 100%; 
    padding-left: 150px;
  }
  
  .faq__container {
    margin: 0 auto;
    width: 90%;
    padding-left: 100px;
  }
  
  .faq__item {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
 
  .faq__question span {
    font-size: 10px;
    color: #333;
  }
 
  
  .faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
  }
  .faq__question:hover {
    background-color: #eff0bd;
  }
  
  .faq__question h2 {
    font-size: 15px;
    color: #333;
  }
  
  .faq__question span {
    font-size: 20px;
    color: #333;
  }
  
  .faq__item p {
    padding: 20px;
    background-color: #fff;
    font-size: 10px;
    color: #333; 
  }  

  @media (max-width: 768px) {
    .faq {
      padding: 30px;
    
    }
    .faq h1{
      font-size: 20px;
      padding-left: 0;
    width: 100%; 
    text-align: left;
    }
    
    .faq__container {
      margin: 20px 0;
      width: 110%;
      padding-left: 0px;
      
    }
     
  .faq__question h2 {
    font-size: 18px;
  }
  
  .faq__question span {
    font-size: 25px;
  }
  
  .faq__item p {
    padding: 20px;
    background-color: #fff;
    font-size: 12px; 
  }      
  }
